a {
    text-decoration: none;
    color: gray;
}
a.false {
    color: lightgray;
}
h1, li {
    font-size: 5rem;
    font-weight: lighter;
    line-height: 5rem;
}
.collection {
    padding: 1.5rem;
    display: block;
    border: 0px;
}
.collection-item, .collection .collection-item:last-child {
    flex: auto;
    border: solid 1px #999999;
    border-radius: 5px;
}
.collection .collection-item  {
    line-height: 7rem;
    margin: 1rem 0;
}
.collection .collection-item .false {
    text-decoration: line-through;
}
.input-field > label, label #todo {
    font-size: 2rem;
}
.material-icons {
    font-size: 5rem;
}
.input-field {
    font-weight: lighter;
}
.input-field > label:not(.label-icon).active {
    transform: translateY(-32px) scale(0.5); 
}
input, label {
    min-height: 5rem !important;
    line-height: 6rem !important;
    font-size: 5rem !important;
    font-weight: lighter !important;
}
input[type="text"] {
    min-height: 6rem !important;
}  
  